.wrapper {
	width: 400px;
	margin: 0 auto;
}
.blue {
	width: 400px;
	height: 100px;
	background-color: #141f40;
}
.green {
	width: 150px;
	height: 250px;
	float: left;
	background-color: #80bfa8;
}
.yellow {
	width: 150px;
	height: 50px;
	background-color: #dbd400;
}
.lightblue {
	width: 150px;
	height: 100px;
	background-color: #0093b7;
}
.pink {
	width: 100px;
	height: 150px;
	background-color: #ff9e6b;
	float: left;
}
.red {
	width: 250px;
	height: 100px;
	background-color: #8c2727;
	float: left;
}
.orange {
	width: 400px;
	height: 100px;
	background-color: #d98b30;
}
.content-left {
	float: left;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

